
// Roboto cdns
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

// San-serif cdn
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

// Roboto condensed
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@300&display=swap');

// Font Variables
$roboto-font: 'Roboto', sans-serif;
$sans-serif: 'Lato', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;
